# dependencies (bun install)
node_modules

# biome
.biome

# cursor
.cursor
.cursorrules

# bun
bun.lockb

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# VSCode
.vscode

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# temp
temp
tmp

# screenshots
browsernode_screenshots

# debug
debug
old_*
*.backup

# examples output
recordings
downloads
.config
agent_state.json